*{
    margin: 0px;
}
#header{
    display: flex;
    flex-direction: row;
}
/*Navigation bar*/
#nav1{
    top:0;
    display: flex;
    flex-direction:row ;
    position:fixed;
    z-index: 1;
    color: white;
    align-items: center;
    padding: 1vw;
    background-color: black;
    width: 100vw;
}
.nav1{
font-family: Arial, Helvetica, sans-serif;
font-size:1.4vw;
padding:1vw;
}
.nav1 a{
    text-decoration:none ;
    color: white;
}

/*FRONT IMAGE*/
#front{
    display:flex;
width: 100%;
height: 20vw;
background-image:url('https://cdn.pixabay.com/photo/2016/11/23/15/31/man-1853545_1280.jpg');
background-size: 100vw;
margin-top:5vw;
background-position-x:left;
background-position-y:center;
animation: bgchng 2s 1 forwards;
animation-timing-function: ease-in-out;
transition-property: all;
}
#in1{
    font-family:'Playfair Display', serif;
    font-size: 8vw;
    color:white;
    margin-top: 4vw;
    visibility: hidden;
    animation: flow3 2s 2s 1 forwards;
}

#focus{
    font-family:'Playfair Display', serif;
    font-size: 8vw;
    color:white;
    margin-top: 4vw;
    margin-left:0em; 
    animation: flow1 2s 1.5s 1 forwards;
    transition-property: all;
    visibility: hidden;
}
/*BGCHNG ANIMATION*/
@keyframes bgchng{
from{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/15/31/man-1853545_1280.jpg');
    background-repeat: no-repeat;
    width:100%;
}
to{
    background-image: url('https://cdn.pixabay.com/photo/2016/02/19/11/37/lens-1209823_1280.jpg');
    background-repeat: no-repeat;
    height:20vw;
    width:100%; 
}
}
/*ANIMATION FOCUS*/
@keyframes flow1{
    from{
       visibility:hidden;
    }
    to{
        visibility: visible;

    }
}
/*ANIMATION IN*/
@keyframes flow3{
    from{
        visibility: hidden;
       margin-left: 0%;
    }
    to{
        visibility: visible;
transform: translate(4vw);
    }
}
/*CLICKS OF THE DAY*/
#click h1{
    font-family:'Merriweather', serif;
    font-size: 3.1vw;
    margin-bottom: 0.1vw;
    color: black;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    text-align: center;
}
#click h3{
    border: 2px;
    border-color: black;
    background-color: black;
    padding: 3px;
    color: white;
    font-size: 1.5vw;
}
#click p{
    padding:10px;
}
#cod{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(24, 23, 23);
}
#cod img{
    margin-top: 2vw;
    margin-bottom: 2vw;
    width:45vw;
    height:31vw;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 0.2vw;
}
#codlink{
    background-color: rgb(24, 23, 23);
    padding: 1.3vw;
}
#codlink p{
    background-color: whitesmoke;
    color: black;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2.5vw;
    font-size: 2vw;
}
#codlink a{
    background-color: rgb(141, 135, 135);
    text-decoration: none;
    border-color: grey;
    border-radius: 2vw;
    padding: 1vw;
    margin-left: 0.6vw;
    color: honeydew;
}
/*TUTORIAL LINK BOXES*/
.box{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    left:0;
    border-style: solid;
    border-width: 3px;
    border-color: #fee5b9;
    border-radius: 10px;
    height:20vw;
    width:45vw;
    background-color: white;
    text-align: center;
    color: black;
    margin-top: 3.8vw;
    margin-bottom:3.8vw;
    box-shadow: 0.2vw 0.2vw 0.1vw #ffedcc;
}
#box{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-image: url('https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_1280.jpg');
}
.box img{
    height:6vw;
    width: 6vw;
    margin-top: 4px;
}
.box p{
    font-size: 1.5vw;
}
.box h2{
font-size: 2vw;
}
.box a{
    text-decoration: none;
    border-radius: 3vw;
    font-size: 1.4vw;
    background-color:rgb(156, 156, 156);
    color: white;
    padding: 0.7vw;
}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2vw;
}
/*HOVER*/
.nav1 a:hover{
    border-radius: 0.5vw;
  background-color:rgb(182, 182, 182);
  padding: 0.2vw;
}
#codlink a:hover{
    border-color: rgb(92, 92, 92);
    border-style: solid;
}
.box a:hover{
    opacity: 0.5;
   border-style: solid;
   border-color: rgb(104, 104, 104);
}
@media screen and (max-width: 500px){
    .nav1{
        font-size:2vw;
        padding:1vw;
        }
        #logo img{
            height:3.9vw;
            width:5vw;
            padding-left:12vw;
        }
    #cod{
    flex-direction: column;
    align-items: center;
    }
    #cod img{
        margin: 1.9vw 2vw 1.9vw 2vw;
        width:88vw;
        height:50vw;
    }
    #codlink p{

        border-radius:2.5vw;
        font-size: 2.5vw;
    }
    /*box*/
    #box{
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
    }
    .box{
        border-width: 3px;
        border-radius: 10px;
        height:33vw;
        width:90vw;
        margin-top: 2vw;
        margin-bottom:2vw;
    }
    .box img{
        height:7.6vw;
        width: 7vw;
        margin-top:1vw;
    }
    .box p{
        font-size: 2.6vw;
    }
    .box h2{
    font-size: 3.5vw;
    }
    footer{
        font-size: 2vw;
    }
}