*{
    margin: 0;
}
/*NAVIGATION BAR*/
.nav{
  top:0;
  display: flex;
  flex-direction:row ;
  position: fixed;
  color: white;
  background-color: black;
  width: 100%;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5vw;
align-items: center;
}
.nav div{
  padding: 1vw;
}
.nav a{
  text-decoration:none ;
  color: white;
}
.topic{
background-color:rgb(34, 17, 17);
color: white;
padding: 1vw;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 2vw;
}
.exp{
  padding: 1vw;
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
  font-size: 1.4vw;
  text-indent: 5vw;
  font-weight: normal;
}
/*PHOTOGRAPHY*/
#frontp{
  background-image: url('https://cdn.pixabay.com/photo/2016/01/09/18/28/notebook-1130742_1280.jpg');
  margin-top: 3vw;
  background-size: 120vw;
  height: 20vw;
  width: 100%;
  background-position: right center;
  background-repeat: no-repeat;
}
#frontp h1{
  padding: 3.5vw 45vw;
  font-size: 6vw;
  animation: flow 3s  1 forwards;
  color: #544343;
}
@keyframes flow{
  from{
    padding: 3.5vw 45vw;
  }
  to{
    padding: 3.5vw 5vw;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(53, 48, 29);
  }
}
.img{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img img{
  height: 20vw;
  width: 40vw;
}
h4{
  margin-top: 10vw;
  font-size: 4vw;
}
h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6vw;
  margin-left:1vw;
  margin-top:1.6vw ;
  border-width: 0.2vw;
  border-color: rgb(39, 21, 21);
  border-style: dotted;
  padding: 0.5vw;
}
table{
  border-width: 0.2vw;
  border-color: rgb(17, 17, 17);
  border-style: solid;
  margin-left: 9vw;
  width: 80vw;
  margin-bottom: 3vw;
  margin-top: 2vw;
  font-size: 1.4vw;
}
th{
    background-color: #a08c70;
    color: white;
    width:40vw
}
li{
   font-family: 'IBM Plex Sans Hebrew', sans-serif;
}
ol{
  margin-bottom: 2vw;
  font-size: 1.4vw;
}
.img1 img{
  height:23vw;
  width: 50vw;
  padding: 1vw;
  margin-left: 22vw;
}
#p5 table tr{
  text-align: center;
}
table td{
  border-width: 0.1vw;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}
#btt{
  text-decoration: none;
  border-radius: 0.2vw;
  background-color: gray;
  color: white;
  padding: 0.3vw;
  font-size: 1.4vw;
}
footer{
  margin-top: 1.4vw;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 1.2vw;
}
a:hover{
  border-radius: 0.5vw;
  background-color:rgb(211, 205, 205);
  padding: 0.2vw;
}
#btt:hover{
  border-style: solid;
  border-color: rgb(70, 70, 70);
}
@media screen and (max-width: 500px) {
  .nav a{
    text-decoration:none ;
    color: white;
  }
  h2{
    font-size: 3.7vw;
  }
  .exp{
    font-size:2.6vw;
  }
  h3{
      font-size: 3.1vw;
  }
  #btt{
    font-size: 2.4vw;
  }
  table{
    font-size: 2.6vw;
}
  footer{
    font-size: 2.6vw;
  }
  li{
    font-size: 2.6vw;
  }
}

